body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}

header {
  background: #004080;
  color: Silver;
  text-align: center;
  padding: 20px;
}

/* Estilos para o menu */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Faz o menu quebrar em várias linhas se faltar espaço */
  justify-content: center; /* Centraliza os itens */
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #b1afaf;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}

/* Estilos para o submenu */
nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  min-width: 180px;
  z-index: 1000; /* Garante que o submenu ficará acima de outros elementos */
}

nav ul li:hover > ul {
  display: block;
}

nav ul li ul li a {
  padding: 10px;
  background-color: #333;
  color: #fff;
}

nav ul li ul li a:hover {
  background-color: #555;
}

section {
  background: white;
  margin: 20px 0;
  padding: 15px;
  border-radius: 8px;
}

h2 {
  color: #004080;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #555;
  font-size: 14px;
}